table{
    border: #1f6df1 1px solid;
    background-color: lightslategrey;
    border-collapse: collapse;
    width:450px;
}
table td, table th{
    border: #1f6df1 1px solid;
    text-align: left;
    height:30px;
}
#btn-div{
    margin-top:5px;
}
button{
    background-color: #2e81ff;
    width:100px;
    height:30px;
    border: none;
    border-radius: 3px;
    outline:none;
}
.odd{
    background-color: antiquewhite;
}
.even{
    background-color: aquamarine;
}
.over{
    background-color: #df4011;
}