table{
    border: #1f6df1 1px solid;
    border-collapse:collapse;
    width:501px;
    background-color: grey;
}
table td, table th{
    border: #1f6df1 1px solid;
    width: 137px;
    text-align: center;
    height: 40px;
}
table a:link,table a:visited{
    text-decoration: none;
    color: darkred;
}
table a:hover{
    color: chocolate;
}
.odd{
    background-color: #f3c98f;
}
.even{
    background-color: aquamarine;
}
.over{
    background-color: coral;
}

